<html>
<head>
<title>todo list</title>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<link href="/assets/style.css" rel="stylesheet" >
<script src="/assets/todo-list.js"></script>
</head>
<body>

<form>
<input type="text" name="item" placeholder="add new item..." required/>
<button type="submit">add itenm</button>
</form>
<button>GO TO NEXT PAGE</button>
<ul>
  <% for (var i=0;i<todos.length;i++) { %>
<li><%=todos[i].item %></li> <% } %>

</ul>
</body>
</html>
